<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>首页</title>
 <meta name="viewport" content="width=device-width, initial-scale=1"/>
 <!-- 
 telephone=no就禁止了把数字转化为拨号链接,telephone=yes就开启了把数字转化为拨号链接
 这个meta就不用写了,在默认是情况下就是开启！
 meta name="format-detection" content="telephone=no"
 email=no禁止作为邮箱地址,email=yes就开启了把文字默认为邮箱地址
 meta name="format-detection" content="email=no"
 adress=no禁止跳转至地图,adress=yes就开启了点击地址直接跳转至地图的功能,在默认是情况下就是开启
 meta name="format-detection" content="adress=no" 
  -->
 <meta name="format-detection" content="telephone=no"/>
 <!-- 去掉winphone系统a、input标签被点击时产生的半透明灰色背景 -->
 <meta name="msapplication-tap-highlight" content="no" />
 <!--[if lt IE 9]>
    <script type="text/javascript">
        var str = "你的浏览器版本太low了,已经和时代脱轨了 :(";
        var str2 = "推荐使用:<a href='https://www.baidu.com/s?ie=UTF-8&wd=%E8%B0%B7%E6%AD%8C%E6%B5%8F%E8%A7%88%E5%99%A8' target='_blank' style='color:blue;'>谷歌</a>,"
                + "<a href='https://www.baidu.com/s?ie=UTF-8&wd=%E7%81%AB%E7%8B%90%E6%B5%8F%E8%A7%88%E5%99%A8' target='_blank' style='color:blue;'>火狐</a>,"
                + "其他双核极速模式";
        document.writeln("<pre style='text-align:center;color:#fff;background-color:#0cc; height:100%;border:0;position:fixed;top:0;left:0;width:100%;z-index:1234'>" +
                "<h2 style='padding-top:200px;margin:0'><strong>" + str + "<br/></strong></h2><h2>" +
                str2 + "</h2><h2 style='margin:0'><strong>如果你的使用的是双核浏览器,请切换到极速模式访问<br/></strong></h2></pre>");
        document.execCommand("Stop");
    </script>
    <![endif]-->
 <link href="../mystatic/css/base.css" 
   th:href="@{/mystatic/css/base.css}"
   rel="stylesheet"/>
   <link href="../mystatic/css/index.css" 
   th:href="@{/mystatic/css/index.css}"
   rel="stylesheet"/>
 <!-- Loading Bootstrap -->
 <link href="../mystatic/flatui/css/vendor/bootstrap/css/bootstrap.min.css" 
    th:href="@{/mystatic/flatui/css/vendor/bootstrap/css/bootstrap.min.css}"
    rel="stylesheet" />

 <!-- Loading messenger UI -->
 <link href="../mystatic/messenger/css/messenger.css" 
    th:href="@{/mystatic/messenger/css/messenger.css}"
    rel="stylesheet" />
 <link href="../mystatic/messenger/css/messenger-theme-future.css" 
    th:href="@{/mystatic/messenger/css/messenger-theme-future.css}"
    rel="stylesheet" />
 <!-- Loading responsive-nav UI -->
 <link href="../mystatic/responsivenav/css/responsive-nav.css" 
    th:href="@{/mystatic/responsivenav/css/responsive-nav.css}"
    rel="stylesheet" />
<style type="text/css">

@media screen and (min-width:1200px){

}
@media screen and (min-width: 960px) and (max-width: 1199px) { 

}

@media screen and (min-width: 768px) and (max-width: 959px) {

}

@media only screen and (min-width: 480px) and (max-width: 767px){ 

}
@media only screen and (max-width: 479px) {
 
}


</style>


</head>
<body>

<div class="main-container">
    <header id="mainHeader">欢迎，
        <a href="javascript:void(0);" id="btnUser"><span th:text="${user.cName==''?user.cLoginId:user.cName}"></span></a> 
        <a href="javascript:void(0);" th:text="注销" id="btnLogout" ></a>
        <div id="app">  <span v-bind:title="message">    鼠标悬停几秒钟查看此处动态绑定的提示信息！  </span></div>
    </header>
    <div id="mainMenu" th:include="mainmenu :: mainmenu" >
    </div>
    <div id="mainContainer">
        <iframe th:src="@{/user/showuser}" id="mainFrame" frameborder="no" border="0" marginwidth="0" marginheight="0"  ></iframe>
    </div>
    <footer id="mainFooter">Copy right ycl company</footer>
</div>
<script src="../mystatic/js/require/require.min.js" data-main="../mystatic/js/index.js"></script>

</body>
</html>