<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>登录</title>
 <meta name="viewport" content="width=device-width, initial-scale=1"/>
 <!-- 
 telephone=no就禁止了把数字转化为拨号链接,telephone=yes就开启了把数字转化为拨号链接
 这个meta就不用写了,在默认是情况下就是开启！
 meta name="format-detection" content="telephone=no"
 email=no禁止作为邮箱地址,email=yes就开启了把文字默认为邮箱地址
 meta name="format-detection" content="email=no"
 adress=no禁止跳转至地图,adress=yes就开启了点击地址直接跳转至地图的功能,在默认是情况下就是开启
 meta name="format-detection" content="adress=no" 
  -->
 <meta name="format-detection" content="telephone=no"/>
 <!-- 去掉winphone系统a、input标签被点击时产生的半透明灰色背景 -->
 <meta name="msapplication-tap-highlight" content="no" />
 
 <link href="../mystatic/css/base.css" 
   th:href="@{/mystatic/css/base.css}"
   rel="stylesheet"/>
 <!-- Loading Bootstrap -->
 <link href="../mystatic/flatui/css/vendor/bootstrap/css/bootstrap.min.css" 
    th:href="@{/mystatic/flatui/css/vendor/bootstrap/css/bootstrap.min.css}"
    rel="stylesheet" />
 <!-- Loading Flat UI -->
 <link href="../mystatic/flatui/css/flat-ui.css" 
    th:href="@{/mystatic/flatui/css/flat-ui.css}"
    rel="stylesheet" />
  
 <link href="../mystatic/css/login.css" 
   th:href="@{/mystatic/css/login.css}"
   rel="stylesheet" />

 <!-- Loading messenger UI -->
 <link href="../mystatic/messenger/css/messenger.css" 
    th:href="@{/mystatic/messenger/css/messenger.css}"
    rel="stylesheet" />
 <link href="../mystatic/messenger/css/messenger-theme-future.css" 
    th:href="@{/mystatic/messenger/css/messenger-theme-future.css}"
    rel="stylesheet" />
 
 
 
 <!-- <script src="../mystatic/js/jquery-1.7.2.js"
 th:src="@{/mystatic/js/jquery-1.7.2.js}"></script>
 <script src="../mystatic/js/common.js"
 th:src="@{/mystatic/js/common.js}"></script>
 <script src="../mystatic/js/login.js"
 th:src="@{/mystatic/js/login.js}"></script>
<script type="text/javascript"> 

</script>
-->
</head>
<body>

<div class="login-container">
    <div class="loginform">
    <form id="loginForm" th:action="@{/workplatform/login}" th:object="${user}" method="post">
        <header>用户登录</header>
        <div class="form-groups">
            <div class="form-group has error">
                <input type="text" class="form-control" th:field="*{cLoginId}" 
                placeholder="用户名" id="login-id"/>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" th:field="*{cPassword}" 
                placeholder="密码" id="login-pass"/>
            </div>
           
        </div>
        <div class="form-oper">
            <a class="btn btn-primary btn-lg btn-block" id="btnLogin" href="javascript:void(0);">登录</a>
            <a class="login-link" href="javascript:void(0);">忘记密码</a>
        </div>
    </form>
    </div>
</div>


 <!-- -->
<!-- <script src="../mystatic/flatui/js/vendor/jquery.min.js"
 th:src="@{/mystatic/flatui/js/vendor/jquery.min.js}"></script>
  
<script src="../flatui/js/vendor/video.js"
 th:src="@{/mystatic/flatui/js/vendor/video.js}"></script>
<script src="../mystatic/flatui/js/flat-ui.min.js"
 th:src="@{/mystatic/flatui/js/flat-ui.min.js}"></script>
<script src="../mystatic/messenger/js/messenger.js"
th:src="@{/mystatic/messenger/js/messenger.js}"></script> -->

<script src="../mystatic/js/require/require.min.js" data-main="../mystatic/js/login.js"></script>
</body>
</html>